*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.bg-image{
    background-image: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    min-height: 830px;
}

.navbar .nav-container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-left: 20px;
}

.nav-item{
    padding: 5px;
    margin: 5px;
    color: #19191B;
}

.nav-link{
    color: #19191B;
}

.nav-link:hover{
    color: rgb(245, 108, 58);
}

.left-content{
    width: 485px;
    margin-top: 240px;
    position: relative;
}

.header{
    display: flex;
}

.bring{
    font-size: 50px;
}

.create-custom {
    width: 428px;
    height: 130px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #696871;
    margin-top: 30px;
}

.form1{
    background-color: #fff;
    height: 60px;
    width: 475px;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}

.input-email1{
    outline: none;
    border: none;
    margin-left: 53px;
    width: 268px;
    height: 40px;
    font-size: 17px;
}

.email{
    position: absolute;
    left: 4%;
}

.get-start-1{
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    outline: none;
    width: 135px;
    height:50px;
    font-size: 17px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.get-start-1:hover {
    background-color: #fff;
    color: #F04037;
    border-color: #F04037;
    width: 145px;
}

.oval{
    position: absolute;
    left: 930px;
    top: 265px;
}
.oval1{
    width: 330px;
    position: absolute;
    left: 452px;
    top: -180px;
}

a{
    text-decoration: none;
}

/* second section */

.box1{
    background-color: #413E65;
}

.box1 .container{
    display: flex;
    flex-direction: row;
}

.features{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 150px 150px 150px 0;
}

.feature{
    background-color: #fff;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    transition: all 0.5s;
}

.feature:hover{
   filter: drop-shadow(0 40px 40px rgb(40, 37, 71));
   z-index: 2;
}

.feature .image{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.feature-info{
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
}

.build{
    width: 485px;
    margin-top: 200px;
    /* margin-top: 240px; */
}

.bring-2{
    font-size: 50px;
    color: #fff;
}

.create-custom-2 {
    width: 420px;
    height: 140px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: rgba(255, 255, 255, 0.702469);
    margin-top: 30px;
}

.get-start-2 {
    background-color: #F04037;
    padding: 14px 32px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    border: 2px solid #F04037;
    transition: 0.3s ease;
    border: 1px solid #C31A12;
}

.get-start-2:hover {
    background-color: #fff;
    color: #F04037;
    border-color: #F04037;
    padding: 14px 40px;
}


/* section 3 */

.box2{
    background-image: url(../img/IMG.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    display: flex;
    min-height: 745px;
    align-items: center;
}

.left-content-2 {
    width: 485px;
    position: relative;
    display: inline-block;
    justify-content: center;
}

.oval2{
    position: absolute;
    top: 80%;
    left: 390px;
    z-index: 2;
}

/* box3 */

.box3{
    background: #F7F7FB;
    min-height: 700px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box3-title{
    font-weight: bold;
    font-size: 50px;
    width: 380px;
    margin: auto;
    margin-bottom: 30px;
}

.box3 .container{
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.the-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-list-item{
    display: flex;
    width: 320px;
    align-items: center;
    margin: 20px 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.box-list-item-egoist{
    width: 330px;
    display: flex;
    align-items: center;
    margin: 20px 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.box-list-item:hover,
.box-list-item-egoist:hover{
    filter: drop-shadow(0px 30px 30px rgba(65, 62, 101, 0.296766));
}

.list-text{
    font-weight: bold;
}

.list-icon-img{
    width: 50px;
    margin: 5px 10px;
}

/* box4 */

.box4 .container{
    display: flex;
    align-items: center;
    min-height: 800px;
}

.left-content-3 {
    margin-top: 0;
    width: 485px;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-self: center;
}

.bgjon{
    filter: drop-shadow(0px 52px 54px rgba(65, 62, 101, 0.296766));
    border-radius: 10px;
    margin-left: 150px;
}

.oval3{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 105%;
}

/* customers */

.box5{
    background: #F7F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.box5 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box5-title {
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin: 20px 0;
}

.box5-text{
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    width: 70%;
    margin: auto;
    height: 120px;
}

.customers{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.customer{
    width: 50%;
    background-color: #fff;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding: 30px;
    margin: 0 20px;
}

.customer-info{
    display: flex;
    padding: 10px 0 0 0;
}

.customer-word{
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
    width: 400px;
}

.mijoz{
    margin: 10px;
}

.job{
    color: #696871;
    font-size: 15px;
}

.about-customer{
    margin: 10px;
}

.navca{
    margin: 50px  auto 100px;
}

/* box6 */

.box6{
    background-color: #413E65;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.build2 {
    width: 485px;
}

.bring-3 {
    font-size: 45px;
    color: #fff;
}

.create-custom-3 {
    width: 420px;
    height: 120px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: rgba(255, 255, 255, 0.702469);
    margin-top: 20px;
}

.input-box {
    width: 70%;
    padding: 20px;
    margin: 5px 0;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
}

.main-get-start {
    background-color: #F04037;
    padding: 12px 18px;
    text-decoration: none;
    margin: 5px 0;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    width: 70%;
    height: 49px;
    border: 2px solid #F04037;
    font-size: 16px;
    transition: 0.3s linear;
    cursor: pointer;
    outline: none;
}

.main-get-start:hover {
    background-color: #fff;
    color: #F04037;
}

.yellow{
    position: relative;
}

.oval-last{
    position: absolute;
    top: 20%;
    left: 55%;
    z-index: 3;
}


/* footer */

.footer .container{
    display: flex;
    align-items: center;
}

.contact{
    display: flex;
}