*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.bg-image{
    background-image: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    min-height: 900px;
}

.navbar .nav-container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-left: 20px;
}

.nav-item{
    padding: 5px;
    margin: 5px;
}

.left-content{
    width: 485px;
    margin-top: 200px;
    position: relative;
}
.header{
    display: flex;
}

.bring{
    font-size: 50px;
}

.create-custom {
    width: 428px;
    height: 130px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #696871;
    margin-top: 30px;
}

.form1{
    background-color: #fff;
    height: 60px;
    width: 425px;
}

.oval{
    position: absolute;
    left: 930px;
    top: 265px;
}
.oval1{
    width: 330px;
    position: absolute;
    left: 452px;
    top: -180px;
}

a{
    text-decoration: none;
}