* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

.a {
    text-decoration: none;
    display: block;
}

.first {
    background-image: url("../img/BG.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

.navbar-list {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 10px;
}

.navbar-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.navbar-item {
    padding-right: 15px;
}

.navbar-item-link {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: #19191b;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-item-link:hover {
    color: #F04037;
}

.first-box {
    width: 560px;
    margin-left: 100px;
    margin-top: 180px;
    position: relative;
}

.first-image1 {
    position: absolute;
    top: -15%;
    right: -55%;

}

.first-image2 {
    position: absolute;
    bottom: 30%;
    right: -120%;
    border-radius: 50%;
}

.first-box-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.first-box-info {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin: 25px 0;
}

.form-email {
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    width: 540px;
    height: 70px;
    font-size: 20px;
    padding-left: 55px;
    outline: hidden;
}

.first-box-small {
    position: relative;
    padding-bottom: 200px;
}

.first-box-small-icon {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 20px;
    left: 15px;
}

.submit-button {
    position: absolute;
    z-index: 1;
    left: 335px;
    top: 5px;
    background: #F04037;
    outline: hidden;
    border-radius: 5px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.submit-button:hover {
    color: #fff;
    background-color: #413e65;
    transform: scale(0.9);
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
}

.second {
    background-color: #413e65;
}

.second-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-left {
    width: 260px;
}

.second-left-list {
    height: 100%;
    align-content: space-between;
    margin: 150px 0;
    margin-left: 60px;
    padding-left: 40px;

}

.second-left-item {
    width: 390px;
    height: 30%;
    border-radius: 10px;
    background-color: #fff;
    padding: 18px;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.second-left-item-photo {
    width: 69px;
    height: 69px;
    margin-right: 20px;
}

.second-item-title {
    font-size: 24px;
line-height: 28px;
letter-spacing: -0.750316px;
color: #19191B;
}

.second-item-info {
    font-size: 16px;
line-height: 28px;
letter-spacing: -0.500211px;
color: #696871;
margin: 10px 0;
}

.second-right {
    margin-left: 380px;
    width: 550px;
}

.second-right-title {
    font-size: 52px;
line-height: 70px;
letter-spacing: -1.87579px;
color: #FFFFFF;
}

.second-right-info {
    font-size: 20px;
line-height: 39px;
letter-spacing: -0.656526px;
color: rgba(255, 255, 255, 0.702469);
margin: 24px 0;
}

.second-right-button {
    background: #F04037;
    outline: hidden;
    border:1px solid #F04037;
    border-radius: 5px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.second-right-button:hover {
    color: #413e65;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #413e65;
    border-radius: 5px;
}   

.third .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third-left {
    width: 55%;
    margin-left: 90px;
    margin-right: 60px;
}


.third-left-title {
    font-size: 44px;
line-height: 70px;
letter-spacing: -1.87579px;
color: #19191b;
}

.third-left-info {
    font-size: 18px;
line-height: 39px;
letter-spacing: -0.656526px;
color: #696871;
margin: 30px 0;
}

.third-left-button {
    background: #F04037;
    outline: hidden;
    border:1px solid #F04037;
    border-radius: 5px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.third-left-button:hover {
    color: #413e65;
    font-weight: bold;
    border: 1px solid #413e65;
    background-color: #fff;
    border-radius: 5px;
    transform: scale(1.08);

}  

.third-right {
    width: 45%;
    position: relative;
}

.third-right-photo-small {
    position: absolute;
    bottom: 0%;
    left: -30%;
}

.fourth {
    background-color: #f7f7f1;
    padding: 50px 0;
}

.fourth-title {
    font-size: 60px;
line-height: 70px;
text-align: center;
letter-spacing: -1.87579px;
color: #19191B;
margin: 70px 250px;
}

.fourth-item-big {
    margin: 50px 0;
}

.fourth-list-small {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.fourth-item-small {
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
border: 1px solid #EAE9F2;
border-radius: 10px;
padding: 10px;
transition: 0.3s;
}

.fourth-item-small-photo {
    width: 65px;
padding-right: 12px;
}

.fourth-item-small-info {
    font-size: 18px;
line-height: 25px;
letter-spacing: -0.656526px;
color: #19191B;
}

.fourth-item-small:hover {
    transform: scale(1.05);
}

.fifth .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.fifth-left {
    width: 46%;
}


.fifth-left-title {
    font-size: 49px;
line-height: 70px;
letter-spacing: -1.87579px;
color: #19191b;
}

.fifth-left-info {
    font-size: 20px;
line-height: 39px;
letter-spacing: -0.656526px;
color: #696871;
margin: 30px 0;
}

.fifth-left-button {
    background: #F04037;
    outline: hidden;
    border:1px solid #F04037;
    border-radius: 5px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.fifth-left-button:hover {
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #413e65;
    border-radius: 10px;
    transform: scale(1.08);

}  


.fifth-right {
    width: 46%;
    position: relative;
}

.fifth-right-photo-small {
    position: absolute;
    bottom: 15%;
    left: -15%;
}


